.container_blog {
  max-width: 1390px;
}

/*  */
.article_full_bx {
  color: var(--colorDark3);
  background-color: white;
  padding: 82px 0 160px 0;
}

.article_full {
  position: relative;
  max-width: 920px;
}

/*  */
.article_full_top {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.article_full_tag {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--colorDark3);
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.article_full_data,
.article_full_view {
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  color: var(--colorGray);
}

.article_full_view {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

/*  */
.article_full_h1 {
  font-family: var(--fontFamily-Unbounded);
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.02em;
  margin: 24px 0 32px 0;
}

/*  */
.article_full_share {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: var(--colorGray);
  display: flex;
  align-items: center;
  column-gap: 24px;
  margin-bottom: 62px;
}

.article_full_save {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 12px;
}

/*  */
.article_full_content {
  margin-bottom: 42px;
}

/*  */
.article_full_content h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 32px;
  scroll-margin-top: 10px;
}

/*  */
.article_full_content p {
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
}

.article_full_content p:has(+ p) {
  margin-bottom: 32px;
}

/*  */
.wp-block-media-text {
  margin: 42px 0;
}

.wp-block-media-text img {
  border-radius: 24px;
  margin-bottom: 18px;
}

.wp-block-media-text__content p {
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  display: block;
  opacity: 0.4;
}

/*  */
.article_full_author {
  background-color: var(--colorBirch);
  border-radius: 24px;
  padding: 42px;
  margin: 42px 0;
}

.article_full_author__img_bx {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 32px;
}

.article_full_author__img_bx img {
  flex-shrink: 0;
  width: 68px;
  height: 68px;
  border-radius: 10px;
}

.article_full_author__name {
  font-family: var(--fontFamily-Unbounded);
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.article_full_author__post {
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  opacity: 0.4;
}

/*  */
.article_full__hr {
  border: 2px solid var(--colorBirch2);
}

/*  */
.rticle_full_useful {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 52px 0 82px 0;
}

.rticle_full_useful .article_full_share {
  margin: 0;
}

/*  */
.article_full__digest {
  background-color: var(--colorBirch);
  border-radius: 24px;
  padding: 42px;
}

.article_full__digest__title {
  font-family: var(--fontFamily-Unbounded);
  line-height: 26px;
  font-size: 20px;
  margin-bottom: 14px;
}

.article_full__digest__desc {
  font-size: 18px;
  font-weight: 300;
  line-height: 25.2px;
  margin-bottom: 26px;
}

/*  */
.article_full__task {
  position: absolute;
  top: 396px;
  right: -470px;
  width: 450px;
  background-color: var(--colorBirch);
  background-image: url(/img/article/article_full__task_decor.svg);
  background-repeat: no-repeat;
  background-position: 100% center;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.article_full__task__title {
  font-family: var(--fontFamily-Unbounded);
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

.article_full__task .blue_btn {
  width: 306px;
  height: 82px;
  font-size: 20px;
  border-radius: 22px;
  padding: 28px 46px;
  margin: 0;
}

.article_full__task .blue_btn .btn__arrow .arrow {
  width: 13px;
  height: 13px;
}

/*  */
.article_full__digest__form {
  display: flex;
  align-items: center;
  gap: 20px 18px;
}

.article_full__digest__form input {
  width: 491px;
  height: 76px;
  font-family: var(--fontFamily-NeueMachina);
  border: none;
  border-radius: 14px;
  padding: 30px;
}

.article_full__digest__form input::placeholder {
  opacity: 0.4;
}
/*  */
.article_full__digest__form .blue_btn {
  flex-shrink: 0;
  width: 76px;
  height: 76px;
  border-radius: 14px;
  margin: 0;
}

.article_full__digest__form .blue_btn__title {
  display: none;
}

.article_full__digest__form .blue_btn .btn__arrow .arrow {
  width: 24px;
  height: 24px;
}

/*  */
.article_interesting {
  margin-top: 160px;
}

.article_interesting__title {
  font-family: var(--fontFamily-Unbounded);
  font-size: 42px;
  line-height: 120%;
  letter-spacing: 0.02em;
  margin-bottom: 62px;
}

/* ============= Медиа запросы */

@media (max-width: 1500px) {
  .article_full {
    max-width: 100%;
  }

  .article_full__task {
    position: static;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .article_full__ditask {
    display: flex;
    column-gap: 20px;
  }

  /*  */
  .article_full__digest {
    flex-grow: 1;
  }

  .article_full__digest__form input {
    width: 100%;
  }
}

@media (max-width: 1250px) {
  .rticle_full_useful {
    margin: 48px 0 48px 0;
  }
}

@media (max-width: 830px) {
  .article_full__ditask {
    flex-direction: column;
    row-gap: 52px;
  }

  .article_full__task {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .article_full_bx {
    padding: 42px 0 140px 0;
  }

  .article_full_h1 {
    font-size: 32px;
  }

  .article_full_content h2 {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .article_full_content p {
    font-size: 18px;
  }

  .wp-block-media-text img {
    margin-bottom: 16px;
  }

  .wp-block-media-text__content p {
    font-size: 14px;
  }

  .article_interesting {
    margin-top: 140px;
  }

  .article_interesting__title {
    max-width: 320px;
    font-size: 38px;
  }

  .article_full__task {
    background-image: url(/img/article/article_full__task_decor_2.svg);
  }
}

@media (max-width: 576px) {
  .article_full_bx {
    padding: 32px 0 80px 0;
  }

  .article_full_tag {
    font-size: 15px;
  }

  .article_full_h1 {
    font-size: 19px;
    margin: 18px 0;
  }

  .article_full_share {
    font-size: 14px;
    margin-bottom: 42px;
  }

  .article_full_save img {
    height: 15px;
  }

  .article_full_content_page {
    padding: 20px;
    margin-bottom: 32px;
  }

  .article_full_content_page__title {
    font-size: 16px;
    margin-bottom: 18px;
  }

  .article_full_content_page a {
    font-size: 14px;
  }

  .article_full_content_page a:not(:last-child) {
    margin-bottom: 14px;
  }

  .article_full_content {
    margin-bottom: 32px;
  }

  .article_full_content h2 {
    font-size: 18px;
    margin-bottom: 18px;
  }

  .article_full_content p {
    font-size: 14px;
  }

  .article_full_content .article_full_content p:not(:last-of-type) {
    margin-bottom: 20px;
  }

  .wp-block-media-text img {
    border-radius: 18px;
    margin-bottom: 12px;
  }

  .wp-block-media-text__content p {
    font-size: 12px;
  }

  /*  */
  .article_full_author {
    border-radius: 18px;
    padding: 20px;
  }

  .article_full_author__img_bx {
    column-gap: 12px;
    margin-bottom: 18px;
  }

  .article_full_author__img_bx img {
    width: 46px;
    height: 46px;
  }

  .article_full_author__name {
    font-size: 14px;
    margin-bottom: 14px;
  }

  .article_full_author__post {
    font-size: 12px;
  }

  /*  */
  .rticle_full_useful {
    flex-direction: column;
    row-gap: 24px;
    margin: 32px 0 42px 0;
  }

  /*  */
  .article_full__digest {
    padding: 20px;
  }

  .article_full__digest__title {
    margin-bottom: 10px;
  }

  .article_full__digest__desc {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 24px;
  }

  .article_full__digest__form {
    flex-direction: column;
  }

  .article_full__digest__form .blue_btn {
    width: 100%;
    height: 79px;
  }

  .article_full__digest__form .blue_btn__title {
    display: block;
  }

  .article_full__digest__form .blue_btn .btn__arrow .arrow {
    width: 14px;
    height: 14px;
  }

  /*  */
  .article_full__task {
    background-image: url(/img/article/article_full__task_decor_3.svg);
    padding: 20px;
  }

  .article_full__task__title {
    font-size: 18px;
    margin-bottom: 24px;
  }

  .article_full__task .blue_btn {
    width: 280px;
    height: 79px;
  }

  /*  */
  .article_interesting {
    margin-top: 80px;
  }

  .article_interesting__title {
    font-size: 26px;
    margin-bottom: 42px;
  }
}
